{{define "page"}}
<div class="w-full">
    <h1>FORM</h1>
    <form method="post" action="/users/edit">
        <div class="hidden">
            {{csrfField}}
        </div>
        <label for="id">ID:</label>
        <input type="id" id="id" name="id" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <button type="submit">Submit</button>
    </form>
</div>
{{ end }}